Repository EvHaus/react-pdf-charts: changes, and which lefthook commands are due for each by the changed paths.
All: biome-format, biome-lint, prettier-package-json, typescript

lefthook.yml:

colors: false

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    biome-format:
      glob: "*.{js,jsx,ts,tsx}"
      run: bun run biome format --write {staged_files}
      stage_fixed: true
    biome-lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bun run biome check --apply-unsafe {staged_files} && bun run biome check {staged_files}
      stage_fixed: true
    prettier-package-json:
      glob: "package.json"
      run: bun run prettier-package-json --use-tabs --write {staged_files}
      stage_fixed: true
    typescript:
      glob: "*.{ts,tsx}"
      run: bun run tsc --project ./tsconfig.json --noEmit

fix: Biome 1.6.0 update
  biome.json
  tsconfig.json
Due: none

chore(deps): lockfile reset
  bun.lockb
Due: none

chore: Upgrade Biome rules to 1.7.0
  biome.json
  bun.lockb
  examples/client/bun.lockb
Due: none

docs: clarified isAnimationActive known issue explanation
  README.md
Due: none

docs: Add some instructions for client example testing
  CONTRIBUTING.md
Due: none

chore: update dependencies
  bun.lockb
  examples/client/bun.lockb
  examples/client/package.json
  package.json
Due: prettier-package-json

chore: upgrade to latest Biome verison
  lefthook.yml
  package.json
Due: prettier-package-json

chore: Upgrade to latest Biome version
  biome.json
  build.ts
  examples/index.ts
  package.json
  pnpm-lock.yaml
Due: biome-format, biome-lint, prettier-package-json, typescript

fix: TypeScript error with casing on `strokeLineCap` being wrong
  src/styling.ts
Due: biome-format, biome-lint, typescript

chore: Remove @types/node dependency
  package.json
  pnpm-lock.yaml
Due: prettier-package-json

chore: Enable Biome sortJsxProps assist
  biome.json
  examples/client/src/App.tsx
  examples/recharts-basic.tsx
  examples/recharts-composed.tsx
  src/index.tsx
Due: biome-format, biome-lint, typescript

chore: Remove extra pnpm lockfile
  bun.lockb
  package.json
  pnpm-lock.yaml
Due: prettier-package-json

fix(469): Update Known Issues to mention nested <svg> elements
  README.md
Due: none

docs: Minor formatting README formatting update
  README.md
Due: none

chore: enable new Biome rules
  biome.json
Due: none

BREAKING CHANGE: Drop support for @react-pdf/renderer lower than 4.1.x
  bun.lockb
  package.json
Due: prettier-package-json

perf: Remove custom handling for Tspan elements as react-pdf supports those natively now (reduces bundle size)
  README.md
  examples/recharts-basic.pdf
  examples/recharts-composed.pdf
  examples/victory-basic.pdf
  src/index.tsx
Due: biome-format, biome-lint, typescript

chore: Rollback semantic-release version
  package.json
Due: prettier-package-json

Notes added by 'git notes add'
  3b0a60d7f2eaeb76f187609563e5dbdffa2589fc
Due: none

feat: dependencies and React 19 upgrade
  bun.lockb
  package.json
  src/index.tsx
Due: biome-format, biome-lint, prettier-package-json, typescript

chore(deps): Upgrade to latest bun with text-based lockfile
  .github/workflows/release.yml
  .github/workflows/test.yml
  bun.lock
  bun.lockb
  bun.toml
  bunfig.toml
  examples/client/bun.lock
  examples/client/bun.lockb
  examples/client/bunfig.toml
Due: none

lint: apply suggestions
  examples/index.ts
  examples/recharts-basic.pdf
  examples/recharts-composed.pdf
  examples/recharts-gradient.pdf
  examples/recharts-gradient.tsx
  examples/victory-basic.pdf
  lefthook.yml
  package-lock.json
  package.json
  src/index.tsx
Due: biome-format, biome-lint, prettier-package-json, typescript

chore(deps): Lockfile update
  bun.lock
Due: none

docs: Update bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

feat(523): Add support for custom additional gradients in recharts
  examples/index.ts
  examples/recharts-basic.pdf
  examples/recharts-composed.pdf
  examples/recharts-gradient.pdf
  examples/recharts-gradient.tsx
  examples/victory-basic.pdf
  lefthook.yml
  package-lock.json
  package.json
  src/index.tsx
Due: biome-format, biome-lint, prettier-package-json, typescript

chore: Reduce PR complexity
  examples/recharts-basic.pdf
  examples/recharts-composed.pdf
  examples/recharts-gradient.pdf
  examples/recharts-gradient.tsx
  examples/victory-basic.pdf
  lefthook.yml
  package-lock.json
  package.json
  src/index.tsx
Due: biome-format, biome-lint, prettier-package-json, typescript

docs: Readme update with additional react-pdf bug that this library solves
  README.md
Due: none

Notes added by 'git notes add'
  f2d52ce5c440a8649aa2305bdd6caf2f93a5fb5e
Due: none

chore(deps): Update dependencies and lockfile
  bun.lock
  package.json
Due: prettier-package-json

feat: Add support for handling arrays of components returned in ReactPDFChart
  src/index.tsx
Due: biome-format, biome-lint, typescript

feat(542): Add basic support for <img> tags
  biome.json
  examples/index.ts
  examples/recharts-images.pdf
  examples/recharts-images.tsx
  src/index.tsx
  src/styling.ts
Due: biome-format, biome-lint, typescript

Notes added by 'git notes add'
  394535dc3aad11df3ba0b5c434f97b5213e1883a
Due: none

fix: Minor naming and comment fixes
  src/index.tsx
Due: biome-format, biome-lint, typescript

chore: Minor npm bundle cleanup
  .gitignore
  .npmignore
  .vscode/settings.json
Due: none

refactor: make requested changes
  src/index.tsx
Due: biome-format, biome-lint, typescript

fix: resolve unique React key warning for <defs>
  src/index.tsx
Due: biome-format, biome-lint, typescript
