Repository EvHaus/react-pdf-charts: changes, and which lefthook commands are due for each by the changed paths.
All: rome-format, rome-lint, prettier-package-json, typescript

rome-format:
  run: bun run rome format --write {staged_files}
  stage_fixed: true

rome-lint:
  run: bun run rome check --apply-unsafe {staged_files} && pnpm rome check {staged_files}
  stage_fixed: true

prettier-package-json:
  run: bun run prettier-package-json --use-tabs --write {staged_files}
  stage_fixed: true

typescript:
  run: bun run tsc --project ./tsconfig.json --noEmit

fix(48): ensure npm bundle is built with production settings
  package.json
Due: prettier-package-json

Notes added by 'git notes add'
  eabc3887bac2148788510d3a74fc00a3a42e1376
Due: none

chore: add GitHub issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

chore: update issue templates to include labels
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

docs: add examples/client to test web-only APIs
  README.md
  bun.lockb
  examples/client/.eslintrc.cjs
  examples/client/.gitignore
  examples/client/README.md
  examples/client/bun.lockb
  examples/client/index.html
  examples/client/package.json
  examples/client/src/App.tsx
  examples/client/src/main.tsx
  examples/client/src/vite-env.d.ts
  examples/client/tsconfig.json
  examples/client/tsconfig.node.json
  examples/client/vite.config.ts
  tsconfig.json
Due: rome-format, rome-lint, typescript

docs: update instructions for running client-side checks
  bun.lockb
  examples/client/README.md
  examples/client/package.json
Due: none

docs: README to call out client-side rendering issues with animations
  README.md
  bun.lockb
Due: none

chore(deps): migrate from rome to biome
  .npmignore
  .vscode/settings.json
  biome.json
  build.ts
  bun.lockb
  examples/client/src/main.tsx
  examples/index.ts
  examples/recharts-basic.tsx
  examples/recharts-composed.tsx
  examples/victory-basic.tsx
  lefthook.yml
  package.json
  src/ReactPDFChart.tsx
  src/styling.ts
Due: rome-format, rome-lint, prettier-package-json, typescript

docs: update CONTRIBUTING guide for client testing
  CONTRIBUTING.md
Due: none

chore: upgrade to latest biome rules
  biome.json
  bun.lockb
Due: none

chore(build): switch to actions/checkout@v4
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

docs: update client rendering example with isAnimationActive={false}
  examples/client/src/App.tsx
Due: rome-format, rome-lint, typescript

chore(deps): update client example dependencies & typescript
  examples/client/bun.lockb
  examples/client/package.json
  examples/client/src/App.tsx
  examples/client/tsconfig.json
  examples/client/tsconfig.node.json
Due: rome-format, rome-lint, typescript

chore: update code for new biome lint rules
  biome.json
  src/styling.ts
Due: rome-format, rome-lint, typescript

Bun upgrade
  biome.json
  examples/client/src/App.tsx
  examples/index.ts
  examples/recharts-basic.tsx
  examples/recharts-composed.tsx
  examples/victory-basic.tsx
Due: rome-format, rome-lint, typescript

chore(deps): biome upgrade
  biome.json
  examples/client/src/App.tsx
  examples/index.ts
  examples/recharts-basic.tsx
  examples/recharts-composed.tsx
  examples/victory-basic.tsx
Due: rome-format, rome-lint, typescript

chore(deps): biome upgrade
  .vscode/settings.json
  biome.json
  build.ts
  src/ReactPDFChart.tsx
  src/utils.ts
Due: rome-format, rome-lint, typescript

chore: biome config updates
  biome.json
  lefthook.yml
  package.json
Due: prettier-package-json

chore: enable Biome's useHookAtTopLevel rule
  biome.json
Due: none

docs: fix minor typo in README
  README.md
Due: none

docs: Fix for invalid link in issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

docs: Add link to Stackblitz playground
  README.md
Due: none

chore: Reset lockfile
  bun.lockb
Due: none

fix: Improve console.error monkeypatching code
  examples/index.ts
Due: rome-format, rome-lint, typescript

chore: add JSDoc
  src/ReactPDFChart.tsx
Due: rome-format, rome-lint, typescript

chore: Remove barrel file to improve performance and reduce bundle size
  src/index.ts
  src/index.tsx
Due: rome-format, rome-lint, typescript

chore: update build script to ensure clean start
  CONTRIBUTING.md
  build.ts
Due: rome-format, rome-lint, typescript

chore: build setup-bin action version
  .github/workflows/release.yml
Due: none

build: rollback semantic-release version
  .github/workflows/release.yml
  bun.lockb
  package.json
Due: prettier-package-json

Notes added by 'git notes add'
  b04c10d59e59269f69f83715b316b77f5bf12474
Due: none

fix: Fix for broken production builds
  build.ts
Due: rome-format, rome-lint, typescript

Notes added by 'git notes add'
  74480feb911a19cc065683f9b77a44f8f140ff03
Due: none

build: Remove duplicate release CI scripts
  .github/workflows/test.yml
Due: none

fix: Add prefix to all errors to help with debugging
  src/index.tsx
Due: rome-format, rome-lint, typescript

Notes added by 'git notes add'
  690ded991d46cfcc17bc083aac40abadbe5a9b2b
Due: none

chore(deps): Upgrade dependencies in examples/client
  examples/client/bun.lockb
  examples/client/package.json
Due: none

fix(263): Fixed bug where root <svg> element's classes couldn't be changed via chartStyle prop
  src/index.tsx
Due: rome-format, rome-lint, typescript

Notes added by 'git notes add'
  308f9a174d2bf10b21d1d3b3a56c4224bbb488f4
Due: none

Path conditions:
  rome-format: any of: *.{js,jsx,ts,tsx}
  rome-lint: any of: *.{js,jsx,ts,tsx}
  prettier-package-json: any of: package.json
  typescript: any of: *.{ts,tsx}
