Repository EvHaus/react-pdf-charts: changes, and which lefthook commands are due for each by the changed paths.
All: biome-format, biome-lint, prettier-package-json, typescript

biome-format:
  run: npx bun run biome format --write {staged_files}
  stage_fixed: true

biome-lint:
  run: npx bun run biome check --write {staged_files}
  stage_fixed: true

prettier-package-json:
  run: npx bun run prettier-package-json --use-tabs --write {staged_files}
  stage_fixed: true

typescript:
  run: npx bun run tsc --project ./tsconfig.json --noEmit

fix: Alternate fix for the React key warning
  src/index.tsx
Due: biome-format, biome-lint, typescript

Notes added by 'git notes add'
  125f9f4911e4a4c464a55e8318703821ed307fea
Due: none

docs: Minor README formatting fix
  README.md
Due: none

fix: Minor broken types fix
  src/styling.ts
Due: biome-format, biome-lint, typescript

chore(deps): Upgrade react-pdf libraries
  bun.lock
  package.json
  src/index.tsx
Due: biome-format, biome-lint, prettier-package-json, typescript

WIP: Prepare for incoming https://github.com/diegomura/react-pdf/issues/1271 fix
  README.md
  src/index.tsx
  src/utils.ts
Due: biome-format, biome-lint, typescript

Could it be a rem unit problem?
  src/index.tsx
Due: biome-format, biome-lint, typescript

Notes added by 'git notes add'
  2a81b33b65683b7e688da85c2aa62b061e6cacfe
Due: none

chore: Upgrade to Biome 2
  biome.json
  build.ts
  examples/client/.eslintrc.cjs
  examples/client/index.html
  examples/client/package.json
  examples/client/src/App.tsx
  examples/index.ts
  examples/recharts-basic.tsx
  examples/recharts-composed.tsx
  examples/recharts-gradient.tsx
  examples/recharts-images.tsx
  examples/victory-basic.tsx
  src/index.tsx
  src/styling.ts
Due: biome-format, biome-lint, typescript

chore: Tell renovate not to update noisy dependencies as often
  .github/renovate.json
  .github/renovate.json5
Due: none

docs: Add note about recharts v3 in the README
  README.md
Due: none

chore(deps): Dependency upgrades
  bun.lock
  package.json
Due: prettier-package-json

chore: Lockfile reset
  bun.lock
Due: none

BREAKING CHANGE: Library is ready for a v1 release
  README.md
Due: none

fix: use Node.js for the semantic release step (which require node 22+)
  .github/workflows/release.yml
Due: none

chore: Fix invalid GitHub actions step
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  c8ae372d84a6ea9cf751a0fa637ad4997cef6e79
Due: none

chore: Remove NPM_TOKEN from CI steps
  .github/workflows/release.yml
Due: none

docs: Clarify commit message structure
  CONTRIBUTING.md
Due: none

fix: Improve type safety for custom react-pdf Styles being passed through
  README.md
  src/index.tsx
  src/styling.ts
  src/types.ts
Due: biome-format, biome-lint, typescript

chore: Replace npmignore with exports definition
  .npmignore
  package.json
Due: prettier-package-json

Notes added by 'git notes add'
  73c301478aa9fc42cb31294465f0aa82fd36a7f8
Due: none

fix: Handle TS build errors and warning more gracefully
  .gitignore
  build.ts
  tsconfig.build.json
Due: biome-format, biome-lint, typescript

chore: Tell semantic release to ignore leaving comments on bot PRs
  package.json
Due: prettier-package-json

fix(263): Apply chartStyle to remaining SVG elements
  src/index.tsx
  src/styling.ts
Due: biome-format, biome-lint, typescript

Notes added by 'git notes add'
  bb7a804404d0e7cf66f9e02bd032ab5c70791773
Due: none

Path conditions:
  biome-format: any of: *.{js,jsx,ts,tsx}
  biome-lint: any of: *.{js,jsx,ts,tsx}
  prettier-package-json: any of: package.json
  typescript: any of: *.{ts,tsx}
