Repository EvHaus/react-pdf-charts: changes, and which lefthook commands are due for each by the changed paths.
All: rome-format, rome-lint, prettier-package-json, typescript

lefthook.yml:

colors: false

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    rome-format:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm rome format --write {staged_files}
      stage_fixed: true
    rome-lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm rome check --apply-unsafe {staged_files} && pnpm rome check {staged_files}
      stage_fixed: true
    prettier-package-json:
      glob: "package.json"
      run: pnpm prettier-package-json --use-tabs --write {staged_files}
      stage_fixed: true
    typescript:
      glob: "*.{ts,tsx}"
      run: pnpm tsc --project ./tsconfig.json --noEmit

Prepare build scripts
  .gitignore
  .npmignore
  .vscode/settings.json
  build.ts
  examples/basic.tsx
  package.json
  pnpm-lock.yaml
  renovate.json
  src/index.ts
  tsconfig.build.json
Due: rome-format, rome-lint, prettier-package-json, typescript

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

Add CONTRIBUTING guide
  CONTRIBUTING.md
Due: none

Setup GitHub Actions for linting
  .github/renovate.json
  .github/workflows/workflow.yml
  .npmignore
  build.ts
  bun.lockb
  package.json
  rome.json
  src/ReactPDFChart.tsx
  tsconfig.build.json
  tsconfig.json
Due: rome-format, rome-lint, prettier-package-json, typescript

Setup semantic release workflows
  .commitlintrc.js
  .github/workflows/workflow.yml
  bun.lockb
  lefthook.yml
  package.json
Due: rome-format, rome-lint, prettier-package-json

chore: remove unused pnpm-lock file
  .commitlintrc.js
  bun.lockb
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: rome-format, rome-lint, prettier-package-json

build: remove CONTRIBUTING guide from npm package
  .npmignore
Due: none

chore(deps): update lockfile
  bun.lockb
Due: none

feat: add support for complex composed charts
  examples/basic.pdf
  examples/composed.pdf
  examples/composed.tsx
  examples/index.ts
  package.json
  src/ReactPDFChart.tsx
Due: rome-format, rome-lint, prettier-package-json, typescript

chore: build release steps for main branch
  .github/workflows/workflow.yml
Due: none

chore: switch back to master branch name as semantic-release doesn't support main yet
  .github/workflows/workflow.yml
Due: none

docs: add documentation about local development
  CONTRIBUTING.md
Due: none

chore: add repository URL to package.json
  package.json
Due: prettier-package-json

chore: enable semantic-release debug
  package.json
Due: prettier-package-json

chore: attempt semantic release with npm instead of bun
  .github/workflows/workflow.yml
Due: none

chore: debug semantic-release debugging
  .github/workflows/workflow.yml
  package.json
Due: prettier-package-json

bug: adds support for client-side rendering
  CONTRIBUTING.md
  examples/basic.pdf
  examples/composed.pdf
  src/ReactPDFChart.tsx
Due: rome-format, rome-lint, typescript

fix: bug with client-side rendering relating to stroke-dasharray attributes
  src/ReactPDFChart.tsx
Due: rome-format, rome-lint, typescript

build: attempt to fix broken semantic-release
  .github/workflows/workflow.yml
Due: none

Notes added by 'git notes add'
  bc61c9dc116d25d5681351076d429f442c736e6c
Due: none

bug: fix broken 0.0.3 build
  .github/workflows/workflow.yml
Due: none

build: split up test and release CI workflows
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

build: ensure release step runs on master branch
  .github/workflows/release.yml
Due: none

build: run release on master branch
  .github/workflows/release.yml
Due: none

build: re-add GITHUB_TOKEN to CI steps
  .github/workflows/release.yml
Due: none

fix: improve error message for unsupported stroke-dasharray values
  src/ReactPDFChart.tsx
Due: rome-format, rome-lint, typescript

Notes added by 'git notes add'
  c018c02263ddd7ecb09de7150846be67faceae9f
Due: none

docs: update example to include stacked bars
  examples/basic.pdf
  examples/composed.pdf
  examples/composed.tsx
Due: rome-format, rome-lint, typescript

fix: detect invalid/missing SVG charts due to no dimensions
  src/ReactPDFChart.tsx
Due: rome-format, rome-lint, typescript

chore: rename dist to build script
  .github/workflows/release.yml
  package.json
Due: prettier-package-json

chore: lockfile update
  bun.lockb
Due: none

chore: silence react warnings during example builds
  bun.lockb
  examples/index.ts
Due: rome-format, rome-lint, typescript

fix: enable wrapping for legends to ensure they all fit
  examples/basic.pdf
  examples/composed.pdf
  src/ReactPDFChart.tsx
Due: rome-format, rome-lint, typescript

Notes added by 'git notes add'
  957d718bd32058bb8ab0f8ab1ee7e5c565f9aad6
Due: none

docs: update README and documentation
  README.md
Due: none

feat: add initial basic support for Victory
  bun.lockb
  examples/basic.pdf
  examples/composed.pdf
  examples/index.ts
  examples/recharts-basic.pdf
  examples/recharts-basic.png
  examples/recharts-basic.tsx
  examples/recharts-composed.pdf
  examples/recharts-composed.tsx
  examples/victory-basic.pdf
  examples/victory-basic.tsx
  package.json
  src/ReactPDFChart.tsx
Due: rome-format, rome-lint, prettier-package-json, typescript

Notes added by 'git notes add'
  e5ff5f2430998cfa5a354cd8ffa02df55be3ee96
Due: none

docs: fix broken image link in README
  README.md
Due: none

feat: add support for color, fill and fontSize styles on <Text> elements
  bun.lockb
  examples/recharts-basic.pdf
  examples/recharts-composed.pdf
  examples/victory-basic.pdf
  src/ReactPDFChart.tsx
  src/constants.ts
  src/styling.ts
  src/types.ts
  src/utils.ts
Due: rome-format, rome-lint, typescript

Notes added by 'git notes add'
  3d710d55dfd5afe159645dd1ea68d6c295f5f7b0
Due: none
